@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
	:root {
		--background: 342 100% 100%;
		--foreground: 342 5% 10%;
		--card: 342 50% 100%;
		--card-foreground: 342 5% 15%;
		--popover: 342 100% 100%;
		--popover-foreground: 342 100% 10%;
		--primary: 342 93.9% 55.1%;
		--primary-foreground: 0 0% 100%;
		--secondary: 342 30% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: 304 30% 95%;
		--muted-foreground: 342 5% 40%;
		--accent: 304 30% 90%;
		--accent-foreground: 342 5% 15%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 342 5% 100%;
		--border: 342 30% 82%;
		--input: 342 30% 50%;
		--ring: 342 93.9% 55.1%;
		--radius: 0.3rem;
	}
	.dark {
		--background: 342 50% 10%;
		--foreground: 342 5% 100%;
		--card: 342 50% 10%;
		--card-foreground: 342 5% 100%;
		--popover: 342 50% 5%;
		--popover-foreground: 342 5% 100%;
		--primary: 342 93.9% 55.1%;
		--primary-foreground: 0 0% 100%;
		--secondary: 342 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 304 30% 25%;
		--muted-foreground: 342 5% 65%;
		--accent: 304 30% 25%;
		--accent-foreground: 342 5% 95%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 342 5% 100%;
		--border: 342 30% 50%;
		--input: 342 30% 50%;
		--ring: 342 93.9% 55.1%;
		--radius: 0.3rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
